.allServices {
    grid-template-columns: 50% 50%;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    text-align: right;
}
.allServices > div {
    margin: 0 0 0 100px;
    width: 20%;
}

@media only screen and (max-width: 760px) {
    #ServicesPage .allServices {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    #ServicesPage .allServices > div {
        margin: 0;
        padding: 0 10px;
    }
    #ServicesPage .allServices > div > a h2 {
        font-size: 1.2rem;
    }
    .allServices > div {
        margin: 0 0 0 100px;
        width: 70%;
    }
}
