#singleProject {
    scroll-behavior: smooth;
}
#singleProject .hero {
    height: 100vh;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
}
#singleProject .hero .heroCover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000070;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#singleProject .heroCover h3,
#singleProject .fontsContainer {
    text-align: center;
}
.heroCover .button {
    transition: all 0.3s ease;
}
.heroCover .button:hover {
    background-color: white !important;
    color: black;
}
#singleProject .hero h1,
#singleProject .hero h3,
#singleProject .hero p,
#singleProject .hero a {
    font-size: 3.5rem;
    color: white;
    text-shadow: 0 0 20px black;
    margin: 0;
}
#singleProject .hero h3 {
    font-size: 2.5rem;
    font-weight: 300;
}
#singleProject .hero p,
#singleProject p {
    font-size: 1.5rem;
    font-family: "Danidin";
    text-align: center;
    padding: 10px 15px;
    color: #fff;
}
#singleProject .hero a {
    font-size: 1.1rem;
    padding: 5px 15px;
    border-radius: 15px;
    color: black;
}

#singleProject section.passage {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
}
#singleProject section.passage h2,
#singleProject section.passage .fontsContainer p {
    margin: 0;
    font-weight: bold;
}
#singleProject section.passage .fontsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.mobileBgSection {
    position: relative;
    max-height: 500px;
    overflow: hidden;
    z-index: -1;
}
.mobileBgSection > div {
    background: linear-gradient(90deg, transparent, rgb(127, 127, 127));
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mobileBgSection h5 {
    font-size: 3rem;
    color: white;
}

.colorsPassage {
    height: 500px;
    /* overflow: scroll; */
}

#singleProject .colorsPallete {
    display: flex;
    width: 100%;
    box-shadow: 0 0 20px rgb(134, 134, 134);
}
#singleProject .colorsPallete > div {
    padding: 25px;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
}
#singleProject .colorsPallete > div > p {
    text-shadow: 0 0 10px black;
    font-weight: 600;
}
#singleProject .colorsDescription h3 {
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 0 20px rgb(120, 120, 120);
}
#singleProject .colorsDescription pre {
    font-size: 1.5rem;
    text-shadow: 0 0 15px rgb(85, 85, 85);
    font-family: "Danidin";
}
.fontsPassage {
    text-shadow: 0 0 20px rgb(103, 103, 103);
}
.projectSummary {
    position: relative;
}
.projectSummaryCover {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #000000dc;
}
.projectSummaryCover pre {
    font-size: 2.2rem;
    color: white;
    font-family: "Danidin";
    text-align: center;
    text-shadow: 0 0 5px black;
}

#singleProject .form .checkbox {
    font-size: 1rem;
}
#singleProject .form input[type="text"],
#singleProject .form input[type="email"] {
    border: 0;
    border-bottom: 2px solid rgb(106, 106, 106);
    /* border-right: 0.5px solid rgb(106, 106, 106); */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.209);
    padding: 10px;
    border-radius: 10px;
    width: 55%;
    margin: 5px 0;
}
#singleProject .form .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    height: 200px;
}
#singleProject .form .inputs > input {
    font-size: 1.3rem;
}
#singleProject .form button {
    background-color: var(--color-primary);
    padding: 10px 40px;
    width: 58%;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    transition: all 0.3s ease;
}
#singleProject .form button:hover {
    color: var(--color-primary);
    background: transparent;
    text-shadow: none;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.237);
}
section.projectContactForm {
    min-height: fit-content !important;
    padding: 100px;
}
.projectContactForm .formWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px auto;
}
.projectContactForm .formWrapper h4 {
    font-size: 3rem;
    margin: 0;
}
.projectContactForm .formWrapper p {
    font-size: 2rem;
    margin: 0;
}
.nextandprevprojects {
    width: 100%;
    display: flex;
}
.nextandprevprojects > a {
    width: 50%;
    height: 500px;
    position: relative;
}
.nextandprevprojects > a > div {
    height: 100%;
    background-position: center !important;
    background-size: 100% !important;
    transition: all 0.5s ease;
}
.nextandprevprojects > a .nextProjectItemCover {
    background: rgba(0, 0, 0, 0.513);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 10px black;
    opacity: 0;
    transition: all 0.5s ease;
}
.nextandprevprojects > a .nextProjectItemCover h3 {
    font-size: 2rem;
}
.nextandprevprojects > a .nextProjectItemCover button {
    background: var(--color-primary);
    padding: 20px 40px;
    border: none;
    border-radius: 15px;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    transition: all 0.3s ease;
}
.nextandprevprojects > a:hover > div {
    background-size: 120% !important;
}
.nextandprevprojects > a:hover > div > .nextProjectItemCover {
    opacity: 1;
}
.nextandprevprojects > a .nextProjectItemCover button:hover {
    background-color: white;
    color: var(--color-primary);
    text-shadow: transparent;
}
.nextandprevprojectsWrapper h2 {
    text-align: center;
    font-size: 3rem;
    color: var(--color-primary);
}

@media only screen and (max-width: 760px) {
    #singleProject .colorsPallete > div {
        padding: 0;
        font-size: 1rem;
    }
    .projectSummaryCover pre {
        font-size: 1.5rem;
    }
    section.projectSummary {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
    section.projectContactForm {
        padding: 10px;
    }
    .lineForm .inputs {
        margin-bottom: 20px;
    }
    section.nextandprevprojectsWrapper
        .nextandprevprojects
        .nextProjectItem
        > div {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
    }
    section.nextandprevprojectsWrapper
        .nextandprevprojects
        .nextProjectItem
        .nextProjectItemCover {
        opacity: 1;
    }
    section.nextandprevprojectsWrapper
        .nextandprevprojects
        .nextProjectItem
        .nextProjectItemCover
        h3 {
        font-size: 1.2rem;
        text-align: center;
        min-height: 47px;
    }
    section.nextandprevprojectsWrapper
        .nextandprevprojects
        .nextProjectItem
        .nextProjectItemCover
        button {
        font-size: 1.7rem;
        padding: 5px 10px;
    }
    #singleProject > section.hero > .heroCover h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 2.5rem;
    }
    #singleProject > section.hero > .heroCover h3 {
        font-size: 1.8rem;
    }
    #singleProject > section.hero > .heroCover p {
        font-size: 1.2rem;
    }
    .mobileBgSection h5 {
        font-size: 3rem;
        color: white;
        text-align: center;
    }
    .mobileBgSection {
        min-height: 25vh;
        max-height: 35vh;
    }
    #singleProject .colorsPallete > div {
        flex-direction: column;
    }
    #singleProject .react-parallax img.react-parallax-bgimage {
        top: 0px !important;
        height: 600px !important;
        left: 85% !important;
    }
    #singleProject .nextandprevprojectsWrapper {
        min-height: fit-content;
    }
}
