#ContactPage > div {
    height: 500px;
    background-position: left bottom;
    background-size: 70%;
    background-repeat: no-repeat;
}
.contactContent {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}
.contactContent .form span,
.contactContent .form p {
    color: black;
}
#ContactPage .form p {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: -5px;
    margin-top: 0;
}
.contactDetails {
    color: white;
    text-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.contactDetails ul {
    width: 250px;
}
.contactDetails ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.contactDetails ul li:hover,
.contactDetails ul li:hover a {
    color: var(--color-primary);
}
.contactDetails ul li a {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contactContent > div {
    width: 35%;
}

@media only screen and (max-width: 760px) {
    .contactContent > div {
        width: 100%;
        margin-top: 0;
    }
    #ContactPage > div {
        height: 100vh;
        background-position: left center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 300px;
        margin-top: -50px;
        z-index: 2;
    }
    .contactContent {
        display: flex;
        justify-content: space-around;
        flex-direction: column-reverse;
        font-size: 2rem;
    }
}
