#blogPage .articles {
    width: 50vw;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 100px auto;
    gap: 100px;
    justify-content: center;
}
#blogPage .articles .article {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-shadow: 0 0 10px black;
    background-position: center !important;
    background-size: cover !important;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    position: relative;
}
#blogPage .articles .article h3 {
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline transparent;
    transition: var(--transition);
}
#blogPage .articles .article:hover h3 {
    text-decoration: underline;
}
#blogPage .articles .article > a {
    color: white;
}
#blogPage .articleCover {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* opacity: 0; */
}
#blogPage .articleCover button {
    opacity: 0;
    background-color: var(--color-primary);
    padding: 10px 40px;
    border-radius: 15px;
    border: none;
    color: white;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.516);
    transition: var(--transition);
}
#blogPage .articleCover:hover button {
    opacity: 1;
    transform: scale(1.2);
}
#blogPage .categoryTag {
    position: absolute;
    right: -15px;
    top: -15px;
    background: linear-gradient(
        45deg,
        rgba(255, 218, 131, 0.423),
        rgba(255, 179, 2, 0.3)
    );
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}
#singleBlog > section > .formWrapper {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 760px) {
    #blogPage .articles {
        width: 100vw;
        display: grid;
        grid-template-columns: 40% 40%;
        margin: 0px auto;
        gap: 30px;
        justify-content: center;
    }
    #singleBlog .nextandprevblogposts a > div {
        height: 50px !important;
        width: 50px !important;
    }
    .blogContent .sections {
        width: 82% !important;
        margin: 50px auto;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background: rgba(255, 255, 255, 0.755);
        padding: 150px 20px !important;
        border-radius: 250px;
    }
    .blogContent .sections .contentSection h3 {
        font-size: 1.19rem !important;
    }
    .blogContent .sections .contentSection pre {
        font-size: 1.1rem !important;
    }
    #singleBlog .hero .heading h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    #singleBlog section > .formWrapper {
        display: flex;
        flex-direction: column;
    }
    #singleBlog section > .formWrapper .longForm {
        width: 90%;
    }
    #singleBlog section > .formWrapper .longForm button {
        width: 100% !important;
    }
}
