#singleBlog {
    position: relative;
}
#singleBlog .hero {
    position: relative;
}
#singleBlog > .hero > .react-parallax {
    position: relative;
    max-height: 500px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden !important;
    z-index: -1;
}
#singleBlog > .hero > .react-parallax img {
    height: 800px !important;
    object-fit: cover;
    filter: blur(3px) !important;
    opacity: 0.8;
}
.singleBlog__hero {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    filter: opacity(0.5) blur(5px);
    height: 60vh;
}
#singleBlog .singlePageHero {
    position: relative;
    right: 0;
    padding: 30px;
}

section.hero .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 50px;
    max-width: 65%;
    margin: 0 auto;
}
section.hero .heading h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
section.hero .heading pre {
    font-size: 1.7rem;
    text-align: center;
    line-height: 35px;
}
#singleBlog .heading p {
    font-size: 1.7rem;
}
section.blogContent {
    display: flex;
}
.blogContent .sections {
    width: 70%;
    margin: 50px auto;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.755);
    padding: 150px 50px;
    border-radius: 250px;
}
.blogContent .sections .contentSection {
    margin: 50px 0;
}
.blogContent .sections .contentSection h3 {
    font-size: 2.5rem;
}
.blogContent .sections .contentSection pre {
    font-size: 1.7rem;
}
.leaveDetails {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leaveDetails .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}
.leaveDetails .form input,
.leaveDetails .form button {
    font-size: 1.5rem;
    width: 50%;
}
.leaveDetails .form button {
    width: 53%;
}
.leaveDetails h3 {
    margin: 50px auto 0 auto;
    font-size: 2rem;
    width: 60%;
}
.leaveDetails p {
    font-size: 1.5rem;
    width: 60%;
    margin: 5px 22% 20px auto;
}

#singleBlog .form .checkbox {
    font-size: 1rem;
}
#singleBlog .form input[type="text"],
#singleBlog .form input[type="email"] {
    border: 0;
    border-bottom: 2px solid rgb(106, 106, 106);
    /* border-right: 0.5px solid rgb(106, 106, 106); */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.209);
    padding: 10px;
    border-radius: 10px;
    width: 55%;
    margin: 5px 0;
}
#singleBlog .form .inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 20px;
    height: 200px;
}
#singleBlog .form .inputs > input {
    font-size: 1.3rem;
}
#singleBlog .form button {
    background-color: var(--color-primary);
    padding: 10px 40px;
    width: 58%;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    transition: all 0.3s ease;
}
#singleBlog .form button:hover {
    color: var(--color-primary);
    background: transparent;
    text-shadow: none;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.237);
}
#singleBlog .nextandprevblogpostsWrapper {
    min-height: 0px;
}
#singleBlog .nextandprevblogposts {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    z-index: 0;
}

#singleBlog .nextandprevblogposts a.nextBlog {
    position: fixed;
    left: 0;
    top: 50%;
    color: white;
    transform: translateY(-50%);
}
#singleBlog .nextandprevblogposts a.prevBlog {
    position: fixed;
    left: right;
    top: 50%;
    color: white;
    transform: translateY(-50%);
}
#singleBlog .nextandprevblogposts a.nextBlog > div {
    border-radius: 0 20px 20px 0;
}
#singleBlog .nextandprevblogposts a.prevBlog > div {
    border-radius: 20px 0 0 20px;
}
#singleBlog .nextandprevblogposts a.nextBlog .blogItemCover {
    border-radius: 0 20px 20px 0;
    transition: all 0.5s ease;
}
#singleBlog .nextandprevblogposts a.prevBlog .blogItemCover {
    border-radius: 20px 0 0 20px;
    transition: all 0.5s ease;
}
#singleBlog .nextandprevblogposts a.nextBlog:hover .blogItemCover {
    background-color: #00000070;
    opacity: 1;
}
#singleBlog .nextandprevblogposts a.prevBlog:hover .blogItemCover {
    background-color: #00000070;
    opacity: 1;
}
#singleBlog .nextandprevblogposts a > div {
    height: 100px;
    width: 100px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px -10px black;
    transition: all 0.3s ease;
}
#singleBlog .nextandprevblogposts > a > div > .blogItemCover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
}
#singleBlog .nextandprevblogposts > a:hover > div {
    height: 200px;
    width: 300px;
}
section.blogContent {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.blogItemCover button {
    color: white;
    padding: 10px 20px;
    background-color: var(--color-primary);
    text-shadow: 0 0 10px black;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.blogItemCover button:hover {
    background: white;
    color: black;
    text-shadow: none;
}
