#singleBlog {
    position: relative;
}
#singleBlog .hero {
    position: relative;
}
#singleBlog > .hero > .react-parallax {
    position: relative;
    max-height: 500px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden !important;
    z-index: -1;
}
#singleBlog > .hero > .react-parallax img {
    height: 800px !important;
    object-fit: cover;
    filter: blur(3px) !important;
    opacity: 0.8;
}
.singleBlog__hero {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    filter: opacity(0.5) blur(5px);
    height: 60vh;
}
#singleBlog .singlePageHero {
    position: relative;
    right: 0;
    padding: 30px;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -100%); */
    /* min-height: 150px !important; */
    /* width: fit-content; */
    /* background: #00000075; */
    /* padding: 30px; */
    /* border-radius: 50px; */
    /* box-shadow: 0 0 30px black; */
    /* backdrop-filter: blur(15px); */
}
/* #singleBlog .singlePageHero h1,
#singleBlog .singlePageHero a {
    color: white;
} */
/* #singleBlog .singlePageHero a:hover {
    text-decoration: underline;
} */
/* #singleBlog .singlePageHero .breadCrumbs {
    color: rgb(206, 206, 206);
} */
#singleBlog section.hero {
    /* margin-bottom: -255px; */
}
section.hero .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(
        45deg,
        rgb(239, 193, 95) 20%,
        var(--color-primary),
        rgb(239, 193, 95)
    ); */
    /* box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.089); */
    height: max-content;
    padding: 50px;
    /* color: white; */
    /* text-shadow: 0 0 20px black; */
}
section.hero .heading h2 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
}
section.hero .heading pre {
    font-size: 1.7rem;
    text-align: center;
}
section.blogContent {
    display: flex;
}
.blogContent .sections {
    width: 70%;
    margin: 50px auto;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.755);
    padding: 150px 50px;
    border-radius: 250px;
}
.blogContent .sections.contentWrapper {
}
.blogContent .sections .contentSection {
    margin: 50px 0;
}
.blogContent .sections .contentSection h3 {
    font-size: 2.5rem;
}
.blogContent .sections .contentSection pre {
    font-size: 1.7rem;
}
.leaveDetails {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.leaveDetails .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}
.leaveDetails .form input,
.leaveDetails .form button {
    font-size: 1.5rem;
    width: 50%;
}
.leaveDetails .form button {
    width: 53%;
}
.leaveDetails h3 {
    margin: 50px auto 0 auto;
    font-size: 2rem;
    width: 60%;
}
.leaveDetails p {
    font-size: 1.5rem;
    width: 60%;
    margin: 5px 22% 20px auto;
}
